/* font family */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: rgb(77, 182, 172);
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;

}

.btn-primary:hover {
    background-color: white;
    color: rgb(77, 182, 172);
}

/* menu style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    width: 100px;
    margin-left: 100px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
}

.li-hov:hover a {
    color: white;
    background-color: rgb(77, 182, 172);
    padding: 5px 10px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 20px 50px;
    box-shadow: 5px 5px 10px 10px gray;

}

/* header */
.header {
    background-image: linear-gradient(rgb(239, 222, 233), rgb(184, 179, 183));
    /* background-color: rgb(218, 193, 215); */
    width: 100%;
    height: 100px;
}

/* first section style */
.first-section {
    display: flex;
    margin: 0;
    width: 100%;
    height: 800px;
    background-image: url("../images/Blue\ Modern\ Zoom\ Virtual\ Background.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
}

.first-des {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-top: 180px;
}

.first-photo {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-top: 180px;
    margin-right: 140px;
}